
@font-face {
  font-family: 'CorisandeBold';
  src: url('CorisandeBold.eot?#iefix') format('embedded-opentype'),  url('CorisandeBold.woff') format('woff'), url('CorisandeBold.ttf')  format('truetype'), url('CorisandeBold.svg#CorisandeBold') format('svg');
  font-weight: normal;
  font-style: normal;
}
