.t-brand{
	color:#fff;
	text-shadow: 2px 2px 1px #060606;
}
.main-nav a{
	text-shadow: 2px 2px 1px #060606;
	color:#fff;
}
#main-image{
background-image: url("../images/home_image.png");
background-repeat: no-repeat;
content: "";
background-size: cover;
height: 700px;
margin-top: -104px

}
.holder{
	display: table;
    max-width: 1000px;
    margin: 0 auto;
}
.main-image-text{
	color:#fff;
	display: table-cell;
    vertical-align: top;
	padding-top: 140px;

}
.main-image-text h1{
	font-size: 100px;
    color: #fff;
	text-shadow: 2px 2px 1px #060606;
    
    
    font-weight: normal;
}
.main-image-text h3{
	font-size: 22px;
	text-shadow: 1px 1px 1px #060606;
}
.main-image-text h4{
	font-size: 18px;
	margin: 26px 0 10px 0;
	text-shadow: 1px 1px 1px #060606;
}
.home-phone{
	display: table-cell;
	
	padding: 140px 91px 0 100px;
}
.maps-content{
	overflow: hidden;
	background-color: #f2f9fd;
	border-bottom: 1px solid #babeca;
    padding:47px 15px 32px 15px;
}
    


.text-content{
	text-align: center;
	padding: 0 235px;
	
}
.text-content h2{
	font-size: 48px;
	font-weight: normal;
	margin-bottom: 26px;
}
.text-content p{
	font-size:18px;
	color:#495767;
}
.link-content{
	    text-align: center;
}
.link-content a{
	overflow: hidden;
	display: inline-block;
    line-height: 68px;
	text-decoration: none;
	color:#79838c;
	font-size: 36px;
	margin: 30px 0 0 41px;
	
}
.link-content a:first-child {
	margin:0;
}
.link-content img{
	float: left;
    width: auto;
    height: 68px;
	margin: 0 25px 0 0;
	
}
.info-app{
	background-color: #fff;
}
.info-app article{
	border-bottom: 1px solid #babeca;
	padding-top: 60px;
}

.info-app h2{
	font-size: 48px;
	font-weight: normal;
	margin-bottom: 26px;
}
.info-app p{
	font-size:18px;
}
.info-app img{
	max-width: 100%;
    display: inline-block;
    vertical-align: top;
	
}

.content-wrap{
	text-align: center;
	padding: 0 37px 40px 37px;
}
.inner-wrap{
	margin-bottom: 30px;
}
.oringe-content{
	background-color: #f9c316;
	text-align: center;
	font-size: 30px;
	font-style: italic;
	color:#000;
	padding: 35px 240px;
}
.oringe-content span{
	font-size: 24px;
}
.download{
	background-image: url("../images/shadow_download.png");
	background-repeat: no-repeat;
	content: "";
	background-size: cover;
}

